@charset "UTF-8";
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000000;
  color: white;
}

video {
  z-index: 0;
  width: 100%;
}

#infomationField1 {
  text-align: center;
}

#infomationField2 {
  text-align: center;
}